<div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="/">Sign to your account</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="jumbotron">
        <h2>Register with us and let employers find you</h2>
        <div class="row">
            <div class="col-md-6">
                <div>Create a profile.</div>
                <ul class="list-unstyled" style="line-height: 2">
                    <li><span class="glyphicon glyphicon-ok"></span> employers review your profile</li>
                    <li><span class="glyphicon glyphicon-ok"></span> view jobs</li>
                    <li><span class="glyphicon glyphicon-ok"></span> apply for jobs</li>
                    <li><span class="glyphicon glyphicon-ok"></span> get the latest apprenticeship industry news</li>

                </ul>
            </div>
            <div class="col-md-6">
                <form>
                  <div class="form-group">
                      <label for="user_type">Profile Type*</label>
                      <select class="form-control" id="user_type">
                        <option>Apprentice</option>
                        <option>Employer</option>
                      </select>
                  </div>
                    <div class="form-group">
                        <label for="firstname">First name*</label>
                        <input type="text" class="form-control" id="firstname" placeholder="first name">
                    </div>
                    <div class="form-group">
                        <label for="surname">Surname*</label>
                        <input type="text" class="form-control" id="surname" placeholder="surname">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address*</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Mobile</label>
                        <input type="tel" class="form-control" id="phone" pattern="^\d{10}$" placeholder="Mobile">
                    </div>
                    <div class="form-group">
                        <label for="password">Password*</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> By signup you agree to the terms and conditions*
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">Create my account</button>
                </form>
            </div>
        </div>
    </div>
</div>
